@import './base/reset';
@import './themes/variables';
@import './components/avatar';
@import './components/navBar';
@import './components/pageStyles';
@import './components/textButton';
@import './components/StackedCards/stackedCard';
@import './components/StackedCards/stackedCards';

@font-face {
  font-family: 'MS Sans Serif';
  src: url('../../assets/fonts/ms_sans_serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

