header {
    padding: 1.1rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
 
}

.hamburger{
    display: none;
    width: 25px;
    height: 25px;
}

nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-family: $hindFont;
    color: black;
}

.searchBar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 43.8rem;
    padding: 0.5rem 1rem;
    gap: 15px;
    border-radius: 8px;
    transition: width 0.5s ease-in-out;
}

.searchBar input {
    border: none;
    width: 100%;
}

.searchBar input:focus {
    outline: none;
    box-shadow: none;
}

.small-logo {
    display: none;
}

.authButtons {
    display: flex;
    gap: 30px;
}

.authButtons .cadastro {
    width: 6rem;
    height: 2.4rem;
    color: $primaryColor;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    font-family: $hindFont;
    border: 2px solid #269C42;
    border-radius: 8px;
}

.authButtons .login {
    width: 4.4rem;
    height: 2.4rem;
    background-color: $primaryColor;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: $hindFont;
    border: 2px solid #269C42;
    border-radius: 8px;
}

@media (max-width: 1400px) {
    header {
        gap: 17px;
    }

    .normal-logo {
        display: none;
    }

    .small-logo {
        display: block;
    }

    .searchBar {
        width: 37.5rem;
    }
}

@media (max-width: 1130px) {
    .searchBar {
        width: 25rem;
    }
}

@media (max-width: 930px) {
    .searchBar {
        width: 12.5rem;
    }
}



@media (max-width: 600px) {

    .nav-links, .authButtons {
        display: none;
    }

    .hamburger {
        display: block;
    }
    
}