.postWriter-container {
    width: 67em;
    margin: 80px auto;
    position: relative;

    .submitArea {
        display: flex;
        justify-content: flex-end!important;

        .submitButtons {
            display: flex;
            gap: 25px;
            margin-bottom: 13px;
        }
    }

    .ql-toolbar.ql-snow .ql-formats {
        margin-right: 0px;
    }
    
    .separator {
        display: inline-block;
        height: 26px;
        width: 1px;
        background-color: #808080;
        margin-left: 20px;
        margin-right: 20px;
        border-left: 1px solid transparent;
    }

    .ql-toolbar {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $onyx;
        padding: 0!important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        align-items: center;
        overflow: hidden;

        .ql-formats {
            display: flex;
            justify-content: center;

            
            button {
                display: flex;
                align-items: center;
                color: white;
                font-size: 20px;
                cursor: pointer;
                background: none;
                border: none;
                position: relative;
                font-family: $montserratFont;
                height: 64px;
            }
            button:hover {
                cursor: pointer;
                background-color: rgba(217, 217, 217, 0.1);
                color: white;
            }

            button:hover {
                cursor: pointer;
                background-color: rgba(217, 217, 217, 0.1);
                color: white;
            }
        
            button::after {
                content: attr(data-tooltip); /* Use the data-tooltip attribute */
                position: absolute;
                bottom: 100%; /* Position the bubble above the button */
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(217, 217, 217, 0.9);
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
                z-index: 1000;
            }
        
            button:hover::after {
                opacity: 1;
                visibility: visible;
            }
            
            .ql-bold {
                display: flex;
                justify-content: center;
                width: 100px;
                font-weight: bold;
                
            }

            .ql-italic {
                display: flex;
                justify-content: center;
                width: 100px;
                font-family: $loraItalicFont;
                font-style: italic;
                font-weight: 600
            }

            .ql-underline {
                display: flex;
                justify-content: center;
                width: 128px;
                text-decoration: underline;
                font-weight: 600;
            }

            .ql-strike {
                display: flex;
                justify-content: center;
                width: 128px;
                text-decoration: line-through;
                font-weight: 600;
            }
        }

        .ql-image,
        .ql-video,
        .ql-link {
            display: flex;
            justify-content: center;
            width: 75px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .ql-code-block {
            display: flex;
            justify-content: center;
            width: 102px;

            img {
                width: 32px;
                height: 24px;
            }
        }

        
        .ql-list[value="bullet"],
        .ql-list[value="ordered"] {
            display: flex;
            justify-content: center;
            width: 102px;

            img {
                width: 30px;
                height: 20px;
            }
        }

    }

    .editor-container {
        border: 1px solid #ccc;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 50px 35px;
        background-color: white;
    }

    .editor-form {
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    
        ::-webkit-scrollbar {
            width: 12px;
        }
    
        ::-webkit-scrollbar-thumb {
            background-color: $onyx;
            border-radius: 12px;
            border: none ;
        }
    
        ::-webkit-scrollbar-track {
            background-color: #f5f5f5;
            border-radius: 12px;
            margin: 0;
        }
    
        ::-webkit-scrollbar-button {
            display: none;
        }
    
        ::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    
        scrollbar-color: $onyx #C9C9C9;
        scrollbar-width: thin;
    }
    
    .editor-title {
        width: 100%;
        height: 59px;
        font-size: 40px;
        font-family: $montserratFont;
        color: $onyx;
        font-weight: 600;
        border: none;
        line-height: 1.5;
        overflow: hidden;
        resize: none;
    }
    
    .editor-title:focus {
        outline: none;
    }

    .editor-tags {
        .tags-button-wrapper {
            position: relative;
        }
    

        .tags-button {
            position: relative;
            width: fit-content;
            font-size: 16px;
            font-family: $montserratFont;
            padding: 5px 0px;
            border: none;
            background: white;
            color: gray; 
            text-align: left; 

            cursor: pointer;

            :hover {
                color: black;
            }

            :focus {
                outline: none;
            }
            
            
        }

    }

    .editor-area {
        min-height: 300px;
        height: auto;
        background-color: white;
        border: none!important;
        border-radius: 5px;
        font-size: 18px;
        font-family: $hindFont;
        overflow: visible;
    }   

    .ql-editor {
        padding: 0px;
        overflow: hidden;
    }

    .editor-area .ql-editor::before {
        content: attr(data-placeholder);
        color: gray; 
        font-family: $montserratFont;
        position: absolute;
        font-style: normal;
        pointer-events: none; 
        font-size: 24px;
        top: 0;
        left: 4px;
    }
    .editor-area .ql-editor:focus::before {
        content: ''; /* Hide placeholder when the editor is focused */
    }
    

    .editor-tags {
        position: relative;
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 5px 0px;
        margin-bottom: 15px;
        background-color: white;
        overflow: visible;
        white-space: nowrap;
        z-index: 1;
    }
    

    

    .tags-dropdown {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        background: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 9999;
        min-width: 150px;
        max-height: 200px;
        overflow-y: auto;
    }
    
    .dropdown-tag-item {
        display: block;
        padding: 8px 12px;
        background: #f9f9f9;
        border: none;
        text-align: left;
        width: 100%;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #333;
        border-radius: 4px;
        transition: background-color 0.2s ease;
        margin-bottom: 5px;
    }
    
    .dropdown-tag-item:hover {
        background-color: #eaeaea;
    }
    
    .tags-container {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        padding: 10PX 0px;
    }

    .tag-list {
        width: 100%;
    }
    
    .tag-item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 6px 14px;
        margin-right: 10px;
    }

    .tag-item button {
        background: none;
        border: none;
        color: red;
        font-size: 16px;
        cursor: pointer;
    }
    
    
}
